<HEAD>
<TITLE> OMC's Changes to Desnoyers Taxonomy </TITLE>
<SCRIPT>
<!--- Hide script from old browsers

// end script hiding from old browsers -->
</SCRIPT>

<!--
<LINK REL="STYLESHEET"  HREF="http://www.mip.ou.dk/~luz/general.css" 
type="text/css"> 
-->
</HEAD>
<body class="mine" BGCOLOR="#FFFFFF" LINK="#0A0BFF" vlink="#0A0BFF">

<h3> Proposed changes to Desnoyers Taxonomy, motivated by OMC
  annotation needs </h3>

<ol>
<li> Added histo-curvigram category under analogram class to enable
  annotation of diagrams such as:
  <center>
  <img src="OMCCorpustextpreparationinstructions_files/histocurvigram.jpg"
  alt="Histo-Curvigram Example">
  </center>
</ol>




</body>
</html>
