<HEAD>
<TITLE> OMC Documentation </TITLE>
<SCRIPT>
<!--- Hide script from old browsers

// end script hiding from old browsers -->
</SCRIPT>

<!--
<LINK REL="STYLESHEET"  HREF="http://www.mip.ou.dk/~luz/general.css" 
type="text/css"> 
-->
</HEAD>
<body>

These pages contain documentation on the OMC project, guides to
annotators, etc.

<ul>
  <li> <a href="OMCCorpustextpreparationinstructions.html">Text
      preparation instructions</a>
  <li> <a href="InstructionsonusingRegularExpressions.html">Instructions
  for using Regular expressions</a>
    
  <li> <a href="DesnoyersTaxonomyHTML/Taxonomy.htm">Desnoyer's
  Taxonomy "cheatsheet"</a> with examples and XML annotation snippets
  <li> PDF <a href="desnoyers-taxonomy-cheatsheet.pdf">
    Poster version </a> of Desnoyer's taxonomy illustrated.

  <li> <a href="changes.html">Summary of changes proposed to Desnoyer's
  Taxonomy</a>, motivated by OMC annotation needs.

    
</ul>

<p>
The development repository is at  <a href='https://gitlab.com/luzs/oslomedicalcorpus'>https://gitlab.com/luzs/oslomedicalcorpus</a>
</p>
</body>
</html>
